@import url('https://fonts.googleapis.com/css?family=Headland+One|Merriweather');
html, body {
	font-family: "fira-sans-2", sans-serif;
	color: #333;
	font-size: 17px;
	padding: 1% 4%;
	text-align: justify;
}
.container {
	padding: 2% 3%;
}

.center {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
	margin-bottom: 15px;
}
.h1 {
	font-family: 'Headland One', serif;
	color: #8B0000;
	font-size: 70px;
}
h1{
	margin-top: 24px;
	color: #2e2e1f;
	
}
h2{
	display: inline;
	font-size: 2rem;
	font-family: Arial,Helvetica,freesans,sans-serif;
	color: black;
	margin-left: 5px;
}
i {
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
	margin-bottom: 4px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

footer{
	margin-top: 30px;
	background-color: #f2efec;
	padding: 2%;
}

ul{
	color:black;
}
hr{
	border: 5px solid #8B0000;
}

button{
	padding: 5px;
	align-items: center;
	align-content: center;
	background-color: #de4700;
	color: white;
	padding: 15px 32px;
	margin-right: 15px;
	margin-left: 15px;
	font-size: 16px;
	border-radius: 7px;
	display:inline-block;
}
table {
	font-family: 'Merriweather', serif;
	margin: auto;
	margin-bottom: 50px;
	border-collapse: collapse;
}

caption {
	margin-top: 30px;
	font-family: 'Merriweather', serif;
	font-size: 20px;
	padding-bottom: 40px;
	-webkit-animation: fadein 0.7s, fadeout 0.7s 2s;

}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

#ranks{
	border: 1px solid #ddd;
	padding: 60px;
	background-color: #bb1919;
	color: white;
	text-align: center;
	font-size: 120%;
}
#regroup{
	text-align: center;
	border: 2px solid black;
	margin-right: 50px;
}
#artToDrag1,#artToDrag2,#artToDrag3,#artToDrag4,#artToDrag5{
	margin: 3px;
	font-family:inherit;
	font-size: 25px;
	color: #bb1919;
	text-shadow:
	-1px -1px 0 white,
	1px -1px 0 white,
	-1px 1px 0 white,
	1px 1px 0 white;
}
#dropArea{
  	background-color: #bb1919;
  	text-align: center;
  	width: 80px;
  	height: 130px;
  	padding: 10px;
  	padding-bottom: 50px;
  	border: 1px solid #ddd;
}
